--
-- PostgreSQL database dump
--

\restrict yO8J6kAZEsREbqQqEkqb9LLkxFtKT5KLXEK2gapicj1lp4UxuDO697RiGgSBHvV

-- Dumped from database version 16.13
-- Dumped by pg_dump version 16.13

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: s_dictionary; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.s_dictionary (id, name, classified, describe, create_time, creator_id, status, i18n_messages) FROM stdin;
alarm_handle_type	鍛婅澶勭悊绫诲瀷	system	\N	1775961489207	\N	1	{"name":{"en":"Alarm handle type","zh":"鍛婅澶勭悊绫诲瀷"}}
\.


--
-- Data for Name: s_dictionary_item; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.s_dictionary_item (id, parent_id, path, sort_index, _level, dict_id, name, value, text, value_type, status, describe, search_code, ordinal, i18n_messages) FROM stdin;
c011949e717531c146ab6af0cac02968	\N	\N	\N	\N	alarm_handle_type	user	user	浜哄伐	\N	1	\N	\N	2	{"text":{"en":"Manual","zh":"浜哄伐"}}
8c4c515b3bff01ca370df46dd0793215	\N	\N	\N	\N	alarm_handle_type	system	system	绯荤粺	\N	1	\N	\N	1	{"text":{"en":"System","zh":"绯荤粺"}}
\.


--
-- Data for Name: s_menu; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: s_permission; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: s_role; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: s_user; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.s_user (id, name, username, password, salt, type, status, creator_id, create_time) FROM stdin;
21232f297a57a5a743894a0e4a801fc3	Administrator	admin	34204e5346d58ac489bba072a517a6c5	cp1_nFzHhFX2CJW0C9xLeJCZCOz19t5n	admin	1	system	1775962447088
\.


--
-- PostgreSQL database dump complete
--

\unrestrict yO8J6kAZEsREbqQqEkqb9LLkxFtKT5KLXEK2gapicj1lp4UxuDO697RiGgSBHvV

